@model IEnumerable<DatabaseLayer.DoctorAppointTable>

@{
    ViewBag.Title = "cancel appointment";
}

<h2>Cancel/incomplete appointment</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DoctorTable.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DoctorTimeSlotTable.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PatientTable.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AppointDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransactionNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DoctorComment)
        </th>
        <th>Status</th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <th>
        Doctor
    </th>
    <th>
        Time slot
    </th>
    <th>
        Patient
    </th>
    <td>
        @Html.DisplayFor(modelItem => item.AppointDate)

    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TransactionNo)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.Description)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.DoctorComment)
    </td>

    <td>
        @{
            if (item.IsChecked == false && item.IsFeeSubmit == false)
            {
                <h2>Reject</h2>
            }
            else if (item.IsChecked == false && item.IsFeeSubmit == true)
            {
                <h2>cancel</h2>
            }
        }
    </td>
</tr>
    }

</table>
