@model IEnumerable<DatabaseLayer.DoctorAppointTable>

@{
    ViewBag.Title = "complete appointment";
}

<h2>Complete appointment</h2>


<table class="table">
    <tr>
        <th>
            Doctor
        </th>
        <th>
            Time slot
        </th>
        <th>
            Patient
        </th>
        <th>
            Appointment Date
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransactionNo)
        </th>
        <th>
            Reason
        </th>
        <th>
            Doctor Advise
        </th>
        <th>Status</th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.DoctorTable.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DoctorTimeSlotTable.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PatientTable.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.AppointDate)

    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TransactionNo)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.Description)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.DoctorComment)
    </td>

    <td>
       
                <h2>completed</h2>
         
    </td>
</tr>
    }

</table>
