@model IEnumerable<DatabaseLayer.LabAppointTable>

@{
    ViewBag.Title = "Complete Appoint";
}

<h2>Complete Appointments</h2>


<table class="table">
    <tr>
        <th>
            lab Doctor
        </th>
        <th>
            Time slot
        </th>
        <th>
            Patient
        </th>
        <th>
            Appointment date
        </th>
        <th>
            Transaction no
        </th>
        <th>
            Reason
        </th>
        <th>Status</th>
     
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LabTable.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LabTimeSlotTable.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PatientTable.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppointDate)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>



            <td>

                <h2 style="color:forestgreen">Complete</h2>

            </td>
            <td>

                @Html.ActionLink("Print Report", "ViewDetails", new { id = item.LabAppointID }, new { @class = "genric-btn info" })
               

            </td>
        </tr>
    }

</table>

