@model IEnumerable<DatabaseLayer.LabAppointTable>

@{
    ViewBag.Title = "Pending Appoint";
}

<h2>Pending Appoint</h2>


<table class="table">
    <tr>
        <th>
            lab
        </th>
        <th>
            Time slot
        </th>
        <th>
            Patient
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AppointDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransactionNo)
        </th>
        <th>
            Reason
        </th>
        <th>Status</th>
        <th>Action</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LabTable.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LabTimeSlotTable.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PatientTable.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppointDate)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>



            <td>

                <h2>Approved</h2>

            </td>
            <td>
                @Html.ActionLink("Change status", "ProcessApointment", new { id = item.LabAppointID }, new { @class = "genric-btn primary" })

            </td>
        </tr>
    }

</table>

