@model IEnumerable<DatabaseLayer.PatientTestDetailTable>

@{
    ViewBag.Title = "ViewDetails";


}



<h4>Test Name: @ViewBag.TestName</h4>
<h4>Lab Doctor Name: @ViewBag.Lab</h4>



<h4>Patient Name: @ViewBag.Patient</h4>
        
<h4>Appointment no: @ViewBag.AppointmentNo</h4>

@{ if (!string.IsNullOrEmpty(ViewBag.PatientPhoto))
    {
        <img src="@Url.Content(ViewBag.PatientPhoto)" alt="Image" style="width:50px; height:50px; max-width:100%; height:auto" />
    }

}




<table class="table">
    <tr>
        <th>
            Details
        </th>
        <th>
            Min Value
        </th>
        <th>
            Max Value
        </th>
        <th> Patient Value</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LabTestDetailsTable.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LabTestDetailsTable.MinValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LabTestDetailsTable.MaxValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PatientValue)
            </td>

        </tr>
    }

</table>
<button onclick="window.print()">Print Report</button>