
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>Medcare Medical</title>
    <meta name="description" content="" />
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- <link rel="shortcut icon" href="img/favicon.png"> -->

    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700"
          rel="stylesheet" />

    <!-- Syntax Highlighter -->
    <link rel="stylesheet" type="text/css" href="~/Content/DashboardTemplate/syntax-highlighter/styles/shCore.css" media="all" />
    <link rel="stylesheet" type="text/css" href="~/Content/DashboardTemplate/syntax-highlighter/styles/shThemeDefault.css" media="all" />

    <!-- Font Awesome CSS-->
    <link rel="stylesheet" href="~/Content/DashboardTemplate/css/font-awesome.min.css" />
    <!-- Normalize/Reset CSS-->
    <link rel="stylesheet" href="~/Content/DashboardTemplate/css/normalize.min.css" />
    <!-- Main CSS-->
    <link rel="stylesheet" href="~/Content/DashboardTemplate/css/main.css" />
    <link rel="stylesheet" href="~/Content/FrontTemplate/css/bootstrap.css">
    <link rel="stylesheet" href="~/Content/FrontTemplate/css/themify-icons.css">
    <link rel="stylesheet" href="~/Content/FrontTemplate/css/flaticon.css">
    <link rel="stylesheet" href="~/Content/FrontTemplate/vendors/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="~/Content/FrontTemplate/vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/FrontTemplate/vendors/animate-css/animate.css">
    <!-- main css -->
    <link rel="stylesheet" href="~/Content/FrontTemplate/css/style.css">
    <link rel="stylesheet" href="~/Content/FrontTemplate/css/responsive.css">
</head>

<body id="welcome">
    <aside class="left-sidebar">
        <div class="logo">
            <a href="#welcome">
                <img src="~/Content/DashboardTemplate/img/logo.png" alt="" />
            </a>
        </div>
        <nav class="left-nav" id="topFixedNavbar1">
            <ul id="nav navbar-nav">

                <li>@Html.ActionLink("Welcome", "Index", "Home", null, null)</li>

                <li>@Html.ActionLink("Change Password", "ChangePassword", "Home", null, null)</li>
                @{
                    if (Session["UserTypeID"] != null)
                    {
                        var usertype = Convert.ToString(Session["UserTypeID"]);
                        int value = Convert.ToInt32(usertype.Trim());
                        if (value == 1)
                        {
                            <li>@Html.ActionLink("Account Type", "Index", "AccountTypeTables", null, null)</li>
                            <li>@Html.ActionLink("All Users", "Index", "UserTables", null, null)</li>
                            <li>@Html.ActionLink("Pending lab requests", "AllPendingLab", "UserTables", null, null)</li>
                            <li>@Html.ActionLink("Pending doctor requests", "AllPendingDoctors", "UserTables", null, null)</li>
                            <li>@Html.ActionLink("All doctors", "AllDoc", "UserTables", null, null)</li>
                            <li>@Html.ActionLink("All labs", "AllLab", "UserTables", null, null)</li>
                            <li>@Html.ActionLink("All Patients", "AllPatients", "UserTables", null, null)</li>
                        }
                        else if (value == 3)    //lab access
                        {
                            <li>@Html.ActionLink("Time Slot", "Index", "LabTimeSlotTables", null, null)</li>
                            <li>@Html.ActionLink("All Test", "LabAllTest", "LabSetting", null, null)</li>
                        
                            <li>@Html.ActionLink("Current Appointment", "CurrentAppointment", "LabApprove", null, null)</li>
                            <li>@Html.ActionLink("Pending Appointment", "PendingAppoint", "LabApprove", null, null)</li>
                            <li>@Html.ActionLink("Complete Appointment", "CompleteAppointment", "LabApprove", null, null)</li>
                            <li>@Html.ActionLink("All Appointment", "AllAppoint", "LabApprove", null, null)</li>

                        }
                        else if (value == 2)   //doctor access
                        {
                            <li>@Html.ActionLink("Time Slot", "Index", "DoctorTimeSlotTables", null, null)</li>
                            <li>@Html.ActionLink("Current Appointment", "CurrentAppoint", "DoctorApprove", null, null)</li>
                            <li>@Html.ActionLink("Pending Appointment", "PendingAppoint", "DoctorApprove", null, null)</li>
                            <li>@Html.ActionLink("Complete Appointment", "CompleteAppointment", "DoctorApprove", null, null)</li>
                            <li>@Html.ActionLink("All Appointment", "AllAppoint", "DoctorApprove", null, null)</li>

                        }
                        else if (value == 4)   //patient
                        {

                            <li>@Html.ActionLink("List of Lab Doctors", "GetAllLabs", "PatientAppoint", null, null)</li>
                            <li>@Html.ActionLink("List of Medical Doctors", "GetAllDoctors", "PatientAppoint", null, null)</li>
                            <li>@Html.ActionLink("List of Lab Tests", "GetAllTest", "LabSetting", null, null)</li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Laboratory Appointments <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>@Html.ActionLink("Current Appointment", "CurrentAppoint", "LabAppointStatus", null, new { @class = "p-3 mb-2 bg-light text-dark" })</li>
                                    <li>@Html.ActionLink("Pending Appointment", "PendingAppoint", "LabAppointStatus", null, new { @class = "p-3 mb-2 bg-light text-dark" })</li>
                                    <li>@Html.ActionLink("Cancelled appoinment", "CancelAppoint", "LabAppointStatus", null, new { @class = "p-3 mb-2 bg-light text-dark" })</li>
                                    <li>@Html.ActionLink("Completed Appointment", "CompleteAppoint", "LabAppointStatus", null, new { @class = "p-3 mb-2 bg-light text-dark" })</li>
                                    <li>@Html.ActionLink("All Appointment", "AllAppoint", "LabAppointStatus", null, new { @class = "p-3 mb-2 bg-light text-dark" })</li>

                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Doctor Appointments <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>@Html.ActionLink("Current Appointment", "CurrentAppoint", "DoctorAppointmentStatus", null, new { @class = "p-3 mb-2 bg-light text-dark" })</li>
                                    <li>@Html.ActionLink("Pending Appointment", "PendingAppoint", "DoctorAppointmentStatus", null, new { @class = "p-3 mb-2 bg-light text-dark" })</li>
                                    <li>@Html.ActionLink("Cancelled appoinment", "CancelAppoint", "DoctorAppointmentStatus", null, new { @class = "p-3 mb-2 bg-light text-dark" })</li>
                                    <li>@Html.ActionLink("Completed Appointment", "CompleteAppoint", "DoctorAppointmentStatus", null, new { @class = "p-3 mb-2 bg-light text-dark" })</li>
                                    <li>@Html.ActionLink("All Appointment", "AllAppoint", "DoctorAppointmentStatus", null, new { @class = "p-3 mb-2 bg-light text-dark" })</li>
                                </ul>
                            </li>
                        }

                    }
                }
                <li>@Html.ActionLink("Logout", "LogoutUser", "Home", null, null)</li>
            </ul>
</nav>
    </aside>

    <div id="main-wrapper">
        <div class="main-content">
            <section id="welcome">
                <div class="content-header">
                    <h1>Bagram Hospital</h1>

                </div>
          

                @RenderBody()
            </section>
        </div>
    </div>
   
    <!-- Essential JavaScript Libraries
    ==============================================-->
    <script type="text/javascript" src="~/Content/DashboardTemplate/js/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="~/Content/DashboardTemplate/js/jquery.nav.js"></script>
    <script type="text/javascript" src="~/Content/DashboardTemplate/syntax-highlighter/scripts/shCore.js"></script>
    <script type="text/javascript" src="~/Content/DashboardTemplate/syntax-highlighter/scripts/shBrushXml.js"></script>
    <script type="text/javascript" src="~/Content/DashboardTemplate/syntax-highlighter/scripts/shBrushCss.js"></script>
    <script type="text/javascript" src="~/Content/DashboardTemplate/syntax-highlighter/scripts/shBrushJScript.js"></script>
    <script type="text/javascript" src="~/Content/DashboardTemplate/syntax-highlighter/scripts/shBrushPhp.js"></script>
    <script type="text/javascript">
    SyntaxHighlighter.all();
   // <script src="~/Content/FrontTemplate/js/jquery-2.2.4.min.js"></script>
    <script src="~/Content/FrontTemplate/js/popper.js"></script>
    <script src="~/Content/FrontTemplate/js/bootstrap.min.js"></script>
    <script src="~/Content/FrontTemplate/js/stellar.js"></script>
    <script src="~/Content/FrontTemplate/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="~/Content/FrontTemplate/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/Content/FrontTemplate/js/waypoints.min.js"></script>
    <script src="~/Content/FrontTemplate/js/mail-script.js"></script>
    <script src="~/Content/FrontTemplate/js/contact.js"></script>
    <script src="~/Content/FrontTemplate/js/jquery.form.js"></script>
    <script src="~/Content/FrontTemplate/js/jquery.validate.min.js"></script>
    <script src="~/Content/FrontTemplate/js/mail-script.js"></script>
    <script src="~/Content/FrontTemplate/js/theme.js"></script>
    <script type="text/javascript" src="~/Content/DashboardTemplate/js/custom.js"></script>
</body>
</html>
