
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>Medcare Medical</title>
    <meta name="description" content="" />
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- <link rel="shortcut icon" href="img/favicon.png"> -->

    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700"
          rel="stylesheet" />

    <!-- Syntax Highlighter -->
    <link rel="stylesheet" type="text/css" href="~/Content/DashboardTemplate/syntax-highlighter/styles/shCore.css" media="all" />
    <link rel="stylesheet" type="text/css" href="~/Content/DashboardTemplate/syntax-highlighter/styles/shThemeDefault.css" media="all" />

    <!-- Font Awesome CSS-->
    <link rel="stylesheet" href="~/Content/DashboardTemplate/css/font-awesome.min.css" />
    <!-- Normalize/Reset CSS-->
    <link rel="stylesheet" href="~/Content/DashboardTemplate/css/normalize.min.css" />
    <!-- Main CSS-->
    <link rel="stylesheet" href="~/Content/DashboardTemplate/css/main.css" />
    <link rel="stylesheet" href="~/Content/FrontTemplate/css/bootstrap.css">
    <link rel="stylesheet" href="~/Content/FrontTemplate/css/themify-icons.css">
    <link rel="stylesheet" href="~/Content/FrontTemplate/css/flaticon.css">
    <link rel="stylesheet" href="~/Content/FrontTemplate/vendors/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="~/Content/FrontTemplate/vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/FrontTemplate/vendors/animate-css/animate.css">
    <!-- main css -->
    <link rel="stylesheet" href="~/Content/FrontTemplate/css/style.css">
    <link rel="stylesheet" href="~/Content/FrontTemplate/css/responsive.css">
</head>

<body id="welcome">
    <aside class="left-sidebar">
        <div class="logo">
            <a href="#welcome">
                <img src="~/Content/DashboardTemplate/img/logo.png" alt="" />
            </a>
        </div>
        <nav class="left-nav" id="topFixedNavbar1">
            <ul id="nav navbar-nav">
                <li class="current"><a href="#welcome">Welcome</a></li>

                <li>@Html.ActionLink("Change Password", "ChangePassword", "Home", null, null)</li>
                @{
                    if (Session["UserTypeID"] != null)
                    {
                        var usertype = Convert.ToString(Session["UserTypeID"]);
                        int value = Convert.ToInt32(usertype.Trim());
                        if (value == 1)
                        {
                            <li>@Html.ActionLink("Account Type", "Index", "AccountTypeTables", null, null)</li>
                            <li>@Html.ActionLink("All Users", "Index", "UserTables", null, null)</li>
                            <li>@Html.ActionLink("Pending lab requests", "Index", "UserTables", null, null)</li>
                            <li>@Html.ActionLink("Pending doctor requests", "Index", "UserTables", null, null)</li>
                            <li>@Html.ActionLink("All doctors", "Index", "UserTables", null, null)</li>
                            <li>@Html.ActionLink("All labs", "Index", "UserTables", null, null)</li>
                            <li>@Html.ActionLink("All Patients", "Index", "UserTables", null, null)</li>
                        }
                        else if (value == 3)    //lab access
                        {
                            <li>@Html.ActionLink("Time Slot", "Index", "LabTimeSlotTables", null, null)</li>
                            <li>@Html.ActionLink("All Test", "LabAllTest", "LabSetting", null, null)</li>
                            <li>@Html.ActionLink("Add Test", "AddTest", "LabSetting", null, null)</li>
                            <li>@Html.ActionLink("Current Appointment", "CurrentAppointment", "LabAppointment", null, null)</li>
                            <li>@Html.ActionLink("Pending Appointment", "PendingAppointment", "LabAppointment", null, null)</li>
                            <li>@Html.ActionLink("Cancel appoinment", "Cancelappoinment", "LabAppointment", null, null)</li>
                            <li>@Html.ActionLink("Complete Appointment", "CompleteAppointment", "LabAppointment", null, null)</li>
                            <li>@Html.ActionLink("All Appointment", "AllAppointment", "LabAppointment", null, null)</li>
                            <li>@Html.ActionLink("Appointment Report", "AppointmentReport", "LabAppointment", null, null)</li>
                        }
                        else if (value == 2)   //doctor access
                        {
                            <li>@Html.ActionLink("Time Slot", "Index", "DoctorTimeSlotTables", null, null)</li>
                            <li>@Html.ActionLink("Current Appointment", "CurrentAppointment", "LabAppointment", null, null)</li>
                            <li>@Html.ActionLink("Pending Appointment", "PendingAppointment", "LabAppointment", null, null)</li>
                            <li>@Html.ActionLink("Cancel appoinment", "Cancelappoinment", "LabAppointment", null, null)</li>
                            <li>@Html.ActionLink("Complete Appointment", "CompleteAppointment", "LabAppointment", null, null)</li>
                            <li>@Html.ActionLink("All Appointment", "AllAppointment", "LabAppointment", null, null)</li>
                            <li>@Html.ActionLink("Appointment Report", "AppointmentReport", "LabAppointment", null, null)</li>
                        }
                        else if (value == 4)   //patient
                        {

                            <li>@Html.ActionLink("All Labs", "GetAllLabs", "PatientAppoint", null, null)</li>
                            <li>@Html.ActionLink("All Doctors", "GetAllDoctors", "PatientAppoint", null, null)</li>

                            <li>@Html.ActionLink("(LAB) Current Appointment", "CurrentAppointment", "PatientAppointment", null, null)</li>
                            <li>@Html.ActionLink("(LAB) Pending Appointment", "DoctorPendingAppoint", "PatientAppoint", null, null)</li>
                            <li>@Html.ActionLink("(LAB) Cancel appoinment", "Cancelappoinment", "PatientAppointment", null, null)</li>
                            <li>@Html.ActionLink("(LAB) Complete Appointment", "CompleteAppointment", "PatientAppointment", null, null)</li>
                            <li>@Html.ActionLink("(LAB) All Appointment", "AllAppointment", "PatientAppointment", null, null)</li>
                            <li>@Html.ActionLink("(LAB) Appointment Report", "AppointmentReport", "PatientAppointment", null, null)</li>


                            <li>@Html.ActionLink("(Doctor) Current Appointment", "CurrentAppoint", "DoctorAppointmentStatus", null, null)</li>
                            <li>@Html.ActionLink("(Doctor)Pending Appointment", "PendingAppoint", "DoctorAppointmentStatus", null, null)</li>
                            <li>@Html.ActionLink("(Doctor)Cancel appoinment", "CancelAppoint", "DoctorAppointmentStatus", null, null)</li>
                            <li>@Html.ActionLink("(Doctor)Complete Appointment", "CompleteAppoint", "DoctorAppointmentStatus", null, null)</li>
                            <li>@Html.ActionLink("(Doctor)All Appointment", "AllAppoint", "DoctorAppointmentStatus", null, null)</li>
                            <li>@Html.ActionLink("(Doctor)Appointment Report", "AppointmentReport", "DoctorAppointmentStatus", null, null)</li>
                        }

                    }
                }
                <li>@Html.ActionLink("Logout", "LogoutUser", "Home", null, null)</li>
            </ul>
        </nav>
    </aside>

    <div id="main-wrapper">
        <div class="main-content">
            <section id="welcome">
                <div class="content-header">
                    <h1>Online Diagnostic system</h1>
                </div>
          

                @RenderBody()
            </section>
        </div>
    </div>
   
    <!-- Essential JavaScript Libraries
    ==============================================-->
    <script type="text/javascript" src="~/Content/DashboardTemplate/js/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="~/Content/DashboardTemplate/js/jquery.nav.js"></script>
    <script type="text/javascript" src="~/Content/DashboardTemplate/syntax-highlighter/scripts/shCore.js"></script>
    <script type="text/javascript" src="~/Content/DashboardTemplate/syntax-highlighter/scripts/shBrushXml.js"></script>
    <script type="text/javascript" src="~/Content/DashboardTemplate/syntax-highlighter/scripts/shBrushCss.js"></script>
    <script type="text/javascript" src="~/Content/DashboardTemplate/syntax-highlighter/scripts/shBrushJScript.js"></script>
    <script type="text/javascript" src="~/Content/DashboardTemplate/syntax-highlighter/scripts/shBrushPhp.js"></script>
    <script type="text/javascript">
    SyntaxHighlighter.all();
   // <script src="~/Content/FrontTemplate/js/jquery-2.2.4.min.js"></script>
    <script src="~/Content/FrontTemplate/js/popper.js"></script>
    <script src="~/Content/FrontTemplate/js/bootstrap.min.js"></script>
    <script src="~/Content/FrontTemplate/js/stellar.js"></script>
    <script src="~/Content/FrontTemplate/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="~/Content/FrontTemplate/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/Content/FrontTemplate/js/waypoints.min.js"></script>
    <script src="~/Content/FrontTemplate/js/mail-script.js"></script>
    <script src="~/Content/FrontTemplate/js/contact.js"></script>
    <script src="~/Content/FrontTemplate/js/jquery.form.js"></script>
    <script src="~/Content/FrontTemplate/js/jquery.validate.min.js"></script>
    <script src="~/Content/FrontTemplate/js/mail-script.js"></script>
    <script src="~/Content/FrontTemplate/js/theme.js"></script>
    <script type="text/javascript" src="~/Content/DashboardTemplate/js/custom.js"></script>
</body>
</html>
