@model IEnumerable<DatabaseLayer.LabAppointTable>

@{
    ViewBag.Title = "all Appoint";
}



<table class="table">
    <tr>
        <th>
            Appointment Date
        </th>

        <th>
            Reason
        </th>
        <th>
            Transaction No.
        </th>
        <th>
            Lab doctor
        </th>
        <th>
            Test Name
        </th>
        <th>
            Appointment time slot
        </th>
        <th>
            Patient Name
        </th>
        <th>Status</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AppointDate)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LabTable.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LabTestTable.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LabTimeSlotTable.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PatientTable.Name)
            </td>
            <td>

                @{
                    if (item.IsComplete == true && item.IsFeeSubmit == true)
                    {
                        <h2>Complete </h2>
                    }
                    else if (item.IsComplete == false && item.IsFeeSubmit == true && item.AppointDate <DateTime.Now)
                    {
                        <h2>cancel</h2>
                    }
                    else if (item.IsComplete == false && item.IsFeeSubmit == false && item.AppointDate >= DateTime.Now)
                    {
                        <h2>pending</h2>
                    }
                    else if (item.IsComplete == false && item.IsFeeSubmit == false && item.AppointDate <DateTime.Now)
                    {
                        <h2>pending</h2>
                    }
                }

            </td>
            
        </tr>
    }

</table>
