@model IEnumerable<DatabaseLayer.LabAppointTable>

@{
    ViewBag.Title = "cancel Appoint";
}




<table class="table">
    <tr>
        <th>
            Appointment Date
        </th>

        <th>
            Reason
        </th>
        <th>
            Transaction No.
        </th>
        <th>
            Lab doctor
        </th>
        <th>
            Test Name
        </th>
        <th>
            Appointment time slot
        </th>
        <th>
            Patient Name
        </th>
        <th>status</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AppointDate)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LabTable.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LabTestTable.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LabTimeSlotTable.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PatientTable.Name)
            </td>
            <td>

                <h2>cancel</h2>

            </td>
         
        </tr>
    }

</table>
