@model IEnumerable<DatabaseLayer.LabAppointTable>

@{
    ViewBag.Title = "complete Appoint";
}



<table class="table">
    <tr>
        <th>
            Appointment Date
        </th>

        <th>
            Reason
        </th>
        <th>
            Transaction No.
        </th>
        <th>
            Lab doctor
        </th>
        <th>
            Test Name
        </th>
        <th>
            Appointment time slot
        </th>
        <th>
            Patient Name
        </th>
        <th>Status</th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.AppointDate)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.Description)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TransactionNo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.LabTable.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.LabTestTable.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.LabTimeSlotTable.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PatientTable.Name)
    </td>
    <td>

        <h2 style="color:forestgreen">Completed</h2>

    </td>
    <td>

        @Html.ActionLink("Print Report", "ViewDetails","LabApprove", new { id = item.LabAppointID }, new { @class = "genric-btn info" })


    </td>
</tr>
    }

</table>
