@model IEnumerable<DatabaseLayer.LabAppointTable>

@{
    ViewBag.Title = "Current Appoint";
}

<h2>Current Appoint</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AppointDate)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransactionNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LabTable.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LabTestTable.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LabTimeSlotTable.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PatientTable.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.AppointDate)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.Description)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TransactionNo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.LabTable.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.LabTestTable.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.LabTimeSlotTable.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PatientTable.Name)
    </td>
    <td>

        <h2>Accepted</h2>

    </td>
</tr>
    }

</table>
