@model IEnumerable<DatabaseLayer.LabAppointTable>

@{
    ViewBag.Title = "PendingAppoint";
}


<table class="table">
    <tr>
        <th>
            Appointment Date
        </th>

        <th>
            Reason
        </th>
        <th>
            Transaction No.
        </th>
        <th>
            Lab doctor
        </th>
        <th>
            Test Name
        </th>
        <th>
            Appointment time slot
        </th>
        <th>
            Patient Name
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AppointDate)
        </td>
   
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TransactionNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LabTable.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LabTestTable.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LabTimeSlotTable.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PatientTable.Name)
        </td>
        <td>
           <h4 style="color:orange">Pending</h4>
        </td>
    </tr>
}

</table>
