@model IEnumerable<DatabaseLayer.DoctorAppointTable>

@{
    ViewBag.Title = "All Appointment";
}

<h2>Current Appointment</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Doctor
        </th>
        <th>
            Time slot
        </th>
        <th>
            Patient
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AppointDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransactionNo)
        </th>
        <th>
            Reason
        </th>
        <th>Status</th>
        <th>Action</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DoctorTable.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoctorTimeSlotTable.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PatientTable.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppointDate)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>



            <td>

                @{
                    if (item.IsChecked == true && item.IsFeeSubmit == true && item.DoctorComment.Length > 0)
                    {
                        <h2>Complete </h2>
                    }
                    else if (item.IsChecked == false && item.IsFeeSubmit == true && item.DoctorComment.Length > 0)
                    {
                        <h2>cancel</h2>
                    }
                    else if (item.IsChecked == false && item.IsFeeSubmit == false && item.DoctorComment.Length == 0)
                    {
                        <h2>pending</h2>
                    }
                    else if (item.IsChecked == false && item.IsFeeSubmit == false && item.DoctorComment.Length > 0)
                    {
                        <h2>pending</h2>
                    }
                }

            </td>
          
        </tr>
    }

</table>
