@model IEnumerable<DatabaseLayer.DoctorAppointTable>

@{
    ViewBag.Title = "Appointments";
}

<h2>Completed Appointments</h2>


<table class="table">
    <tr>
        <th>
            Patient
        </th>
        <th>
            Time slot
        </th>

        <th>
            Appointment Date
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransactionNo)
        </th>
        <th>
            Reason
        </th>
        <th>Status</th>
        <th>Advise</th>
     

    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.PatientTable.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DoctorTimeSlotTable.Name)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.AppointDate)

    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TransactionNo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Description)
    </td>



    <td>

        <h4 style="color:forestgreen">Completed </h4>

    </td>
    <td> @Html.DisplayFor(modelItem => item.DoctorComment)</td>
    <td>@Html.ActionLink("Print Prescription", "PrintPrescription", new { id = item.DoctorAppointID }, new { @class = "genric-btn info" })</td>
    
</tr>
    }

</table>
