@model IEnumerable<DatabaseLayer.DoctorAppointTable>

@{
    ViewBag.Title = "Current Appointment";
}

<h2>Current Appointments</h2>


<table class="table">
    <tr>
        <th>
            Patient
        </th>
        <th>
            Time slot
        </th>

        <th>
            Appointment Date
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransactionNo)
        </th>
        <th>
            Reason
        </th>
        <th>Status</th>
        <th>Action</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PatientTable.Name)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.DoctorTimeSlotTable.Name)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.AppointDate)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>



            <td>

                <h2>Process</h2>

            </td>
            <td>
                @Html.ActionLink("Process", "ProcessAppoint", new { id = item.DoctorAppointID }, new { @class = "genric-btn primary" })

            </td>
        </tr>
    }

</table>
